<!DOCTYPE html>
<html lang="en" ng-app="productApp">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kompra</title>

    <!-- Bootstrap core CSS-->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="assets/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="assets/css/sb-admin.css" rel="stylesheet">
  </head>

  <body id="page-top" ng-controller="productCtrl">

    <nav class="navbar navbar-expand navbar-dark static-top" style="background-color:#57b846;">

      <a class="navbar-brand mr-1" href="Product/Products.html">Kompra</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
          <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#"></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
              </div>
            </li>
          </ul>
      </form>

      <!-- Navbar -->
      

    </nav>

    <div id="wrapper" style="background-color:#e6e6e6;">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav" style="background-color:#57b846;">
        <li class="nav-item">
          <a class="nav-link" href="Category.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Product Category</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Products </span>
          </a>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="PromoCode.html">
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                  <span>Promo Code </span>
              </a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="Inventory.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Inventory <b style="color:red;">{{notif}}</b></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Users.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Manage Account</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Supplier.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Supplier</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Feedback(s)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Requests.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Item Requests</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="TransactionHistory.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Transaction History</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Reports</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown" style="background-color:#57b846;">
           <a class="dropdown-item" href="SalesReport.html">Sales Report</a>
           <a class="dropdown-item" href="InventoryReport.html">Inventory</a>
           <a class="dropdown-item" href="Purchases.html">Purchase(s)</a>
           <a class="dropdown-item" href="Receipt.html">Receipt</a>
          </div>
        </li>
      </ul>

      <div id="content-wrapper" style="background-color: white;padding: 20px;margin: 20px;height: auto;">
          <div class="table-responsive" style="padding-bottom :50px">
           		<h2>Feedback(s)</h2>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Feedback ID</th>
                      <th>Order ID</th>
                      <th>Feedback</th>
                      <th>Description</th>
                      <th>Buyer</th>
                      <th>Buyer Gender</th>
                      <th>Date Created</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                 <tbody>
                    <tr ng-repeat="data in requests">
                      <td>{{data.feedback_rating.FEEDRATEID}}</td>
                      <td>{{data.OrMasID}}</td>
                      <td>{{data.feedback_rating.ORDERFEEDBACKS}}</td>
                      <td>{{data.feedback_rating.ORDERRATE}}</td>
                      <td>{{data.buyer.BuyFname}} {{data.buyer.BuyLname}}</td>
                      <td>{{data.buyer.BuyGender}}</td>
                      <td>{{data.created_at}}</td>
                      <td>
                        <button class="btn btn-xs btn-info" ng-click="update(data.OrMasID)" data-toggle="modal" data-target="#addModal"><b>View Order Details</b></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
        <!-- Sticky Footer -->
        <footer class="sticky-footer"  style="background-color:#e6e6e6;;">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Kompra</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="index.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form   ng-submit="addStocks()">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Order Details</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-bordered" ng-repeat="data in orders">
                    <tr >
                        <td><b>Order date</b></td>
                        <td><b>Order Datails ID</b></td>
                        <td colspan="2"><b>Order Item Discount</b></td>
                    </tr>
                    <tr >
                        <td>{{data.OrDetDate}}</td>
                        <td>{{data.OrDetID}}</td>
                        <td colspan="2">{{data.OrDetItemDiscount}}</td>
                    </tr>
                    <tr >
                        <td colspan="4"><b>Products</b></td>
                    </tr>
                    <tr>
                        <td><b>Product Name</b></td>
                        <td><b>Product Description</b></td>
                        <td><b>Product Description</b></td>
                        <td><b>Product Quantity</b></td>
                    </tr>
                    <tr>
                        <td>{{data.products.ProdName}}</td>
                        <td>{{data.products.ProdDesc}}</td>
                        <td>{{data.products.ProdPrice}}</td>
                        <td>{{data.products.ProdQuantity}}</td>
                    </tr>
                </table>
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
              </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="assets/js/sb-admin.min.js"></script>
    <script src="assets/vendor/datatables/jquery.dataTables.js"></script>
    <script src="assets/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="assets/js/demo/datatables-demo.js"></script>
    <script src="assets/js/angular.js"></script>
  </body>

</html>
<script>
  
  var token = localStorage.getItem("storageName");
  var app = angular.module('productApp',[]);
    app.controller('productCtrl',function($scope, $http){
        var vm = this;
        search();

        $scope.update = function update(id){
            $scope.id = id;
            $http({
                method:'GET',
                url:'https://kompra-prod.000webhostapp.com/api/ordermasterlists/'+id,
                headers:{
                  'Content-Type':'application/x-www-form-urlencoded',
                  'Accept':'application/json'
                }
            }).then(function(response){
               $scope.orders = response.data.data[0].order_details;

            }).catch(function(res){
                alert("Server Error!");
            });
        }

        function search(){
              console.log(token);
              $http({
                method:'GET',
                url:'https://kompra-prod.000webhostapp.com/api/ordermasterlists',
                headers:{
                  'Content-Type':'application/x-www-form-urlencoded',
                  'Accept':'application/json'
                }
            }).then(function(response){
                console.log(response);
                $scope.requests = response.data.data;
            }).catch(function(res){
                alert("Server Error!");
            });

            $http({
                method:'GET',
                url:'https://kompra-prod.000webhostapp.com/api/category',
                headers:{
                  'Content-Type':'application/x-www-form-urlencoded',
                  'Accept':'application/json'
                }
            }).then(function(response){
                $scope.category = response.data.data;
            }).catch(function(res){
                alert("Server Error!");
            });
        }
    });
</script>
