<!DOCTYPE html>
<html lang="en" ng-app="kompraApp" ng-controller="kompraCtrl">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kompra - Login</title>

    <!-- Bootstrap core CSS-->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="assets/css/sb-admin.css" rel="stylesheet">
    <link href="Product/Products.html" rel="html">
  </head>

  <body style="background-color:#57b846;">

    <div class="container">
      <div class="card card-login mx-auto mt-5" style="background-color:#e6e6e6;">
        <div class="card-header"><b>Kompra</b> - Login</div>
        <div class="card-body">
          <form ng-submit="login()" autocomplete="off">
            <center><b style="color:red"> {{msg}}</b></center>
            <div class="form-group">
              <div class="form-label-group">
                <input type="text" id="inputEmail" ng-model="username" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
                <label for="inputEmail">Username</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="password" id="inputPassword" ng-model="password" class="form-control" placeholder="Password" required="required">
                <label for="inputPassword">Password</label>
              </div>
            </div>
            <button class="btn btn-primary btn-block" submit="submit" >Login</button>
          </form>
          <div class="text-center">
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="assets/js/angular.js"></script>
    <script src="node_modules/angular-data-table/release/dataTable.js"></script>

  </body>

</html>
<script>
  localStorage.setItem("storageName","");
  var app = angular.module('kompraApp',[]);
	app.controller('kompraCtrl',controller);
	
	function controller($scope,$http){

		$scope.login = function login(){
			$http({
        url:'http://kompra-prod.000webhostapp.com/api/login?email='+$scope.username+'&password='+$scope.password,
        method:'POST',
        headers:{
          'Content-Type':'application/x-www-form-urlencoded',
          'Accept':'application/json'
        }
      }).then(function(response){
        if(response.data.data.user_type === 'Admin'){
            alert("Succefully Login!");
            localStorage.setItem("storageName",response.data.success.token);
            window.location = 'Product/Products.html';
        } else {
            alert("Only Admin can access this page!");
        }
          
      }).catch(function(res){
          $scope.msg = "Invalid Username/Password!";
          console.log(res);
      });
		}

	}
  window.onload = function() {
   
   

}
</script>