<!DOCTYPE html>
<html lang="en" ng-app="productApp">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kompra</title>

    <!-- Bootstrap core CSS-->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="assets/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="assets/css/sb-admin.css" rel="stylesheet">
  </head>

  <body id="page-top" ng-controller="productCtrl">

    <nav class="navbar navbar-expand navbar-dark static-top" style="background-color:#57b846;">

      <a class="navbar-brand mr-1" href="Product/Products.html">Kompra</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
          <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#"></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
              </div>
            </li>
          </ul>
      </form>

      <!-- Navbar -->
      

    </nav>

    <div id="wrapper" style="background-color:#e6e6e6;">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav hidetoprint" style="background-color:#57b846;">
        <li class="nav-item">
          <a class="nav-link" href="Category.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Product Category</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Product/Products.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Products</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Supplier.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Supplier</span>
          </a>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="PromoCode.html">
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                  <span>Promo Code </span>
              </a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Inventory <b style="color:red;">{{notif}}</b></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../Users.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Manage Account</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Feedbacks.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Feedback(s)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Requests.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Item Requests</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="TransactionHistory.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Transaction History</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Reports</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown" style="background-color:#57b846;">
           <a class="dropdown-item" href="SalesReport.html">Sales Report</a>
           <a class="dropdown-item" href="#">Purchase(s)</a>
           <a class="dropdown-item" href="Inventory.html">Inventory</a>
           <a class="dropdown-item" href="Receipt.html">Receipt</a>
          </div>
        </li>
      </ul>

      <div id="content-wrapper" style="background-color: white;padding: 20px;margin: 20px;height: auto;">
          <div class="table-responsive" style="padding-bottom :50px">
           		<h2>Payments(s)</h2>
              <button class="btn btn-success pull-right hidetoprint" onclick="prints()">Print</button>
                <table class="table table-bordered" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Payment Type</th>
                      <th>Total Amount</th>
                      <th>Buyer</th>
                      <th>Runner</th>
                      <th>Date Created</th>
                    </tr>
                  </thead>
                 <tbody>
                    <tr ng-repeat="data in payments">
                      <td>{{data.PaymentType}}</td>
                      <td>{{data.TotAmount}}</td>
                      <td>{{data.buyer.BuyFname}} {{data.buyer.BuyLname}}</td>
                      <td>{{data.employee.EMPLname}} {{data.employee.EMPFname}}</td>
                      <td>{{data.created_at}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
        <!-- Sticky Footer -->
        <footer class="sticky-footer"  style="background-color:#e6e6e6;;">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Kompra</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="index.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="addQtyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form   ng-submit="addStocks()">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Stock {{action}}</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                      <td>Category: <input type="hidden" ng-model="id" name=""></td>
                      <td>
                          {{category_id}}
                      </td>
                    </tr>
                    <tr>
                      <td>Product Name: </td>
                      <td>{{name}}<input type="hidden" required class="form-control" ng-model="name"></td>
                    </tr>
                    <tr>
                      <td>Product Description:</td>
                      <td>{{desc}}<input type="hidden" required class="form-control" ng-model="desc"></td>
                    </tr>
                    <tr>
                      <td>Product Price:</td>
                      <td>{{price}}<input type="hidden" required class="form-control" ng-model="price"></td>
                    </tr>
                    <tr>
                      <td>Product Current Quantity:</td>
                      <td>{{quantity}}<input type="hidden" required class="form-control" ng-model="quantity"></td>
                    </tr>
                    <tr>
                      <td>Product Measurement:</td>
                      <td>{{measurement}}<input type="hidden" required class="form-control" ng-model="measurement"></td>
                    </tr>
                    <tr>
                      <td>Product Photo:</td>
                      <td>{{photo}}<input type="hidden" required class="form-control" ng-model="photo"></td>
                    </tr>
                    <tr>
                      <td>Quantity to add:</td>
                      <td><input type="number" required class="form-control" ng-model="quantitytoadd"></td>
                    </tr>
                </table>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Logout Modal-->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form   ng-submit="saves()">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                      <td>Category: <input type="hidden" ng-model="id" name=""></td>
                      <td>
                        <select class="form-control" ng-model="category_id">
                          <option ng-repeat="value in category" value="{{value.id}}">{{value.categoryName}}</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>Product Name: </td>
                      <td><input type="text" required class="form-control" ng-model="name"></td>
                    </tr>
                    <tr>
                      <td>Product Description:</td>
                      <td><input type="text" required class="form-control" ng-model="desc"></td>
                    </tr>
                    <tr>
                      <td>Product Price:</td>
                      <td><input type="number" required class="form-control" ng-model="price"></td>
                    </tr>
                    <tr>
                      <td>Product Quantity:</td>
                      <td><input type="number" required class="form-control" ng-model="quantity"></td>
                    </tr>
                    <tr>
                      <td>Product Measurement:</td>
                      <td><input type="text" required class="form-control" ng-model="measurement"></td>
                    </tr>
                    <tr>
                      <td>Product Photo:</td>
                      <td><input type="text" required class="form-control" ng-model="photo"></td>
                    </tr>
                </table>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form   ng-submit="saves()">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">View Product</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-bordered">
                     <tr>
                      <td>Category:</td>
                      <td>{{category_id}}</option>
                      </td>
                    </tr>
                    <tr>
                      <td>Product Name: </td>
                      <td>{{name}}</td>
                    </tr>
                    <tr>
                      <td>Product Description:</td>
                      <td>{{desc}}</td>
                    </tr>
                    <tr>
                      <td>Product Price:</td>
                      <td>{{price}}</td>
                    </tr>
                    <tr>
                      <td>Product Quantity:</td>
                      <td>{{quantity}}</td>
                    </tr>
                    <tr>
                      <td>Product Measurement:</td>
                      <td>{{measurement}}</td>
                    </tr>
                    <tr>
                      <td>Product Photo:</td>
                      <td>{{photo}}</td>
                    </tr>
                </table>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="assets/js/sb-admin.min.js"></script>
    <script src="assets/vendor/datatables/jquery.dataTables.js"></script>
    <script src="assets/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="assets/js/demo/datatables-demo.js"></script>
    <script src="assets/js/angular.js"></script>
  </body>

</html>
<script>
  
  var token = localStorage.getItem("storageName");
  var app = angular.module('productApp',[]);
    app.controller('productCtrl',function($scope, $http){
        var vm = this;
        search();
        $scope.saves = function saves(){
          if($scope.id == ''){
              $http({
              url:'https://kompra-prod.000webhostapp.com/api/products?ProdName='+$scope.name+'&ProdDesc='+$scope.desc+'&ProdPrice='+$scope.price+'&ProdQuantity='+$scope.quantity+'&ProdMeasurement='+$scope.measurement+'&ProdPhoto='+$scope.measurement+'&category_id='+$scope.category_id+'&enabled=1',
              method:'POST',
              headers:{
                'Content-Type':'application/x-www-form-urlencoded',
                'Accept':'application/json'
              }
            }).then(function(res){
              location.reload();
              alert("Successfully Added!");
            }).catch(function(res){
              alert("Server Error!");
            });
          } else {
            $http({
              url:'https://kompra-prod.000webhostapp.com/api/products/'+$scope.id+'?ProdName='+$scope.name+'&ProdDesc='+$scope.desc+'&ProdPrice='+$scope.price+'&ProdQuantity='+$scope.quantity+'&ProdMeasurement='+$scope.measurement+'&ProdPhoto='+$scope.photo+'&category_id='+$scope.category_id+'&enabled=1',
              method:'PUT',
              headers:{
                'Content-Type':'application/x-www-form-urlencoded',
                'Accept':'application/json'
              }
            }).then(function(res){
              location.reload();
              alert("Successfully Updated!");
            }).catch(function(res){
              alert("Server Error!");
            });
          }
            
        }

        function stockInOut(newQuantity){
          $http({
              url:'https://kompra-prod.000webhostapp.com/api/products/'+$scope.id+'?ProdName='+$scope.name+'&ProdDesc='+$scope.desc+'&ProdPrice='+$scope.price+'&ProdQuantity='+newQuantity+'&ProdMeasurement='+$scope.measurement+'&ProdPhoto='+$scope.photo+'&category_id='+$scope.category_id+'&enabled=1',
              method:'PUT',
              headers:{
                'Content-Type':'application/x-www-form-urlencoded',
                'Accept':'application/json'
              }
            }).then(function(res){
              location.reload();
            }).catch(function(res){
              alert("Server Error!");
            });
        }

        $scope.addStocks = function addStocks(){
          var newQuantity = 0;
          if($scope.action == 'In'){
            if($scope.quantitytoadd <= 0){
              alert("Quantity must not be 0 or below.");
            }
            else {
              newQuantity = $scope.quantitytoadd + $scope.quantity;
              stockInOut(newQuantity);
              alert("Successfully Stocked In!");
            }
            
          } else {
            if($scope.quantity < $scope.quantitytoadd){
              alert("Insuficient stock(s), You have "+$scope.quantity+" '"+$scope.name+"' left.");
            } else if($scope.quantitytoadd <= 0){
              alert("Quantity must not be 0 or below.");
            } else {
              newQuantity = $scope.quantity - $scope.quantitytoadd;
              stockInOut(newQuantity);
              alert("Successfully Stocked Out!");
            }
            
          }
          
        }

        $scope.update = function update(id,action){
            $scope.action = action;
            $scope.id = id;
            $http({
                method:'GET',
                url:'https://kompra-prod.000webhostapp.com/api/products/'+id,
                headers:{
                  'Content-Type':'application/x-www-form-urlencoded',
                  'Accept':'application/json'
                }
            }).then(function(response){
               $scope.name = response.data.data.ProdName;
               $scope.desc = response.data.data.ProdDesc;
               $scope.price = response.data.data.ProdPrice;
               $scope.quantity = response.data.data.ProdQuantity;
               $scope.measurement = response.data.data.ProdMeasurement;
               $scope.photo = response.data.data.ProdPhoto;
               $scope.photo = response.data.data.ProdPhoto;
               $scope.category_id = response.data.data.category_id;
            }).catch(function(res){
                alert("Server Error!");
            });
        }

        function search(){
              console.log(token);
              $http({
                method:'GET',
                url:'https://kompra-prod.000webhostapp.com/api/ordermasterlists',
                headers:{
                  'Content-Type':'application/x-www-form-urlencoded',
                  'Accept':'application/json'
                }
            }).then(function(response){
                $scope.payments = response.data.data;
            }).catch(function(res){
                alert("Server Error!");
            });

            $http({
                method:'GET',
                url:'https://kompra-prod.000webhostapp.com/api/category',
                headers:{
                  'Content-Type':'application/x-www-form-urlencoded',
                  'Accept':'application/json'
                }
            }).then(function(response){
                $scope.category = response.data.data;
            }).catch(function(res){
                alert("Server Error!");
            });

        }
    });

    function prints() {
      $('.hidetoprint').hide();
      window.print();
    }
</script>
