<!DOCTYPE html>
<html lang="en" ng-app="productApp">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kompra</title>

    <!-- Bootstrap core CSS-->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="assets/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="assets/css/sb-admin.css" rel="stylesheet">
  </head>

  <body id="page-top" ng-controller="productCtrl">

    <nav class="navbar navbar-expand navbar-dark static-top" style="background-color:#57b846;">

      <a class="navbar-brand mr-1" href="Product/Products.html">Kompra</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
          <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#"></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
              </div>
            </li>
          </ul>
      </form>

      <!-- Navbar -->
      

    </nav>

    <div id="wrapper" style="background-color:#e6e6e6;">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav" style="background-color:#57b846;">
        
        <li class="nav-item">
          <a class="nav-link" href="Category.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Product Category</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Products </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Supplier.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Supplier</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="PromoCode.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Promo Code </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Inventory.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Inventory <b style="color:red;">{{notif}}</b></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Users.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Manage Account</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Item Requests</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="TransactionHistory.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Transaction History</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Reports</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown" style="background-color:#57b846;">
           <a class="dropdown-item" href="SalesReport.html">Sales Report</a>
           <a class="dropdown-item" href="InventoryReport.html">Inventory</a>
           <a class="dropdown-item" href="Purchases.html">Purchase(s)</a>
           <a class="dropdown-item" href="Receipt.html">Receipt</a>
          </div>
        </li>
      </ul>

      <div id="content-wrapper" style="background-color: white;padding: 20px;margin: 20px;height: auto;">
          <div class="table-responsive" style="padding-bottom :50px">
           		<h2>Request(s)</h2>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Request ID</th>
                      <th>Item</th>
                      <th>Description</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Buyer</th>
                      <th>Date Created</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                 <tbody>
                    <tr ng-repeat="data in requests">
                      <td>{{data.ReqDetID}}</td>
                      <td>{{data.ItemReqName}}</td>
                      <td>{{data.ItemReqDesc}}</td>
                      <td>{{data.ItemReqPrice}}</td>
                      <td>{{data.ItemReqQuantity}}</td>
                      <td>{{data.buyers.BuyFname}} {{data.buyers.BuyLname}}</td>
                      <td>{{data.created_at}}</td>
                      <td>
                        <div ng-if="data.approve == 1">
                            <b style="color:green;">Approved</b>
                        </div>
                        <div ng-if="data.approve == 2">
                            <b style="color:red;">Disapproved</b>
                        </div>
                        <div ng-if="data.approve == 0">
                          <button class="btn btn-xs btn-danger" ng-click="selectDatatoApprove(data.ReqDetID,'Disapprove')" data-toggle="modal" data-target="#appdisModal"><b>Disapprove</b></button>

                          <button class="btn btn-xs btn-info" ng-click="selectDatatoApprove(data.ReqDetID,'Approve')" data-toggle="modal" data-target="#appdisModal"><b>Approve</b></button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
        <!-- Sticky Footer -->
        <footer class="sticky-footer"  style="background-color:#e6e6e6;;">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Kompra</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="index.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="appdisModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form   ng-submit="saves()">
              <div class="modal-header">
                <h5 class="modal-title">Are you sure to {{action}} Item Request?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-bordered">
                    <input type="hidden" required class="form-control" ng-model="ItemReqName">
                    <input type="hidden" required class="form-control" ng-model="ItemReqDesc">
                    <input type="hidden" required class="form-control" ng-model="ItemReqPrice">
                    <input type="hidden" required class="form-control" ng-model="ItemReqQuantity">
                    <input type="hidden" required class="form-control" ng-model="approve">
                    <input type="hidden" class="form-control" ng-model="BUYERID">
                </table>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="submit">YES</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="assets/js/sb-admin.min.js"></script>
    <script src="assets/vendor/datatables/jquery.dataTables.js"></script>
    <script src="assets/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="assets/js/demo/datatables-demo.js"></script>
    <script src="assets/js/angular.js"></script>
  </body>

</html>
<script>
  
  var token = localStorage.getItem("storageName");
  var app = angular.module('productApp',[]);
    app.controller('productCtrl',function($scope, $http){
        var vm = this;
        search();

        $scope.selectDatatoApprove = function selectDatatoApprove(id,action){
            $scope.id = id;
            $scope.action = action;
            $http({
                method:'GET',
                url:'https://kompra-prod.000webhostapp.com/api/requestdetails/'+id,
                headers:{
                  'Content-Type':'application/x-www-form-urlencoded',
                  'Accept':'application/json'
                }
            }).then(function(response){
                $scope.ItemReqName  = response.data.data[0].ItemReqName;
                $scope.ItemReqDesc = response.data.data[0].ItemReqDesc;
                $scope.ItemReqPrice = response.data.data[0].ItemReqPrice;
                $scope.ItemReqQuantity = response.data.data[0].ItemReqQuantity;
                $scope.approve = response.data.data[0].approve;
                if(response.data.data[0].buyers !== null){
                  $scope.BUYERID = response.data.data[0].buyers.BUYERID;
                }
            }).catch(function(res){
                alert("Server Error!");
            });
        }

        $scope.saves = function saves(){
          if($scope.action == 'Approve'){
              $http({
              url:'https://kompra-prod.000webhostapp.com/api/products?ProdName='+$scope.ItemReqName+'&ProdDesc='+$scope.ItemReqDesc+'&ProdPrice='+$scope.ItemReqPrice+'&ProdQuantity='+$scope.ItemReqQuantity+'&ProdMeasurement=null'+'&ProdSupplier='+$scope.ItemReqQuantity+'&ProdPhoto=null&category_id=1&enabled=1',
              method:'POST',
              headers:{
                'Content-Type':'application/x-www-form-urlencoded',
                'Accept':'application/json'
              }
            }).then(function(res){
              
                  $http({
                  url:'https://kompra-prod.000webhostapp.com/api/requestdetails/'+$scope.id+'?OrderRefNum=OrderRefNum&ItemReqName='+$scope.ItemReqName+'&ItemReqDesc='+$scope.ItemReqDesc+'&ItemReqPrice='+$scope.ItemReqPrice+'&ItemReqQuantity='+$scope.ItemReqQuantity+'&approve=1',
                  method:'POST',
                  headers:{
                    'Content-Type':'application/x-www-form-urlencoded',
                    'Accept':'application/json'
                  }
                }).then(function(res){
                    location.reload();
                }).catch(function(res){
                  alert("Server Error!");
                });

              alert("Successfully Approved!");
            }).catch(function(res){
              alert("Server Error!");
            });

          } else {
              $http({
                  url:'https://kompra-prod.000webhostapp.com/api/requestdetails/'+$scope.id+'?OrderRefNum=OrderRefNum&ItemReqName='+$scope.ItemReqName+'&ItemReqDesc='+$scope.ItemReqDesc+'&ItemReqPrice='+$scope.ItemReqPrice+'&ItemReqQuantity='+$scope.ItemReqQuantity+'&approve=2',
                  method:'POST',
                  headers:{
                    'Content-Type':'application/x-www-form-urlencoded',
                    'Accept':'application/json'
                  }
                }).then(function(res){
                  alert("Successfully Disapproved!");
                  location.reload();
                }).catch(function(res){
                  alert("Server Error!");
                });
              
          }
            
        }


        function search(){
              console.log(token);
              $http({
                method:'GET',
                url:'https://kompra-prod.000webhostapp.com/api/requestdetails',
                headers:{
                  'Content-Type':'application/x-www-form-urlencoded',
                  'Accept':'application/json'
                }
            }).then(function(response){
                $scope.requests = response.data.data;
            }).catch(function(res){
                alert("Server Error!");
            });

            $http({
                method:'GET',
                url:'https://kompra-prod.000webhostapp.com/api/category',
                headers:{
                  'Content-Type':'application/x-www-form-urlencoded',
                  'Accept':'application/json'
                }
            }).then(function(response){
                $scope.category = response.data.data;
            }).catch(function(res){
                alert("Server Error!");
            });
        }
    });
</script>
