<!DOCTYPE html>
<html lang="en" ng-app="productApp">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kompra</title>

    <!-- Bootstrap core CSS-->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="assets/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="assets/css/sb-admin.css" rel="stylesheet">
  </head>

  <body id="page-top" ng-controller="productCtrl">

    <nav class="navbar navbar-expand navbar-dark static-top" style="background-color:#57b846;">

      <a class="navbar-brand mr-1" href="Product/Products.html">Kompra</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
          <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#"></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
              </div>
            </li>
          </ul>
      </form>

      <!-- Navbar -->
      

    </nav>

    <div id="wrapper" style="background-color:#e6e6e6;">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav hidetoprint" style="background-color:#57b846;" class="hidetoprint">
        <li class="nav-item">
          <a class="nav-link" href="Category.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Product Category</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Product/Products.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Products</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Supplier.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Supplier</span>
          </a>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="PromoCode.html">
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                  <span>Promo Code </span>
              </a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Inventory <b style="color:red;">{{notif}}</b></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Users.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Manage Account</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Feedbacks.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Feedback(s)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Requests.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Item Requests</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="TransactionHistory.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Transaction History</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Reports</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown" style="background-color:#57b846;">
           <a class="dropdown-item" href="#">Sales Report</a>
           <a class="dropdown-item" href="Purchases.html">Purchase(s)</a>
           <a class="dropdown-item" href="Inventory.html">Inventory</a>
           <a class="dropdown-item" href="Receipt.html">Receipt</a>
          </div>
        </li>
      </ul>

      <div id="content-wrapper" style="background-color: white;padding: 20px;margin: 20px;height: auto;">
          <div class="table-responsive" style="padding-bottom :50px">
              <center><h2>Sales Report</h2></center>
              <center><h3>{{finalmonth}} - {{finalmonths}} {{year}}</h3></center>
              <div class="row hidetoprint">
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <div class="form-group">
                    <label class="control-label"><b>From:</b></label>
                    <select class="form-control" ng-model = "month">
                      <option value="01">January</option>
                      <option value="02">February</option>
                      <option value="03">March</option>
                      <option value="04">April</option>
                      <option value="05">May</option>
                      <option value="06">June</option>
                      <option value="07">July</option>
                      <option value="08">August</option>
                      <option value="09">September</option>
                      <option value="10">October</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                    <label class="control-label"><b>To:</b></label>
                    <select class="form-control" ng-model = "to">
                      <option value="01">January</option>
                      <option value="02">February</option>
                      <option value="03">March</option>
                      <option value="04">April</option>
                      <option value="05">May</option>
                      <option value="06">June</option>
                      <option value="07">July</option>
                      <option value="08">August</option>
                      <option value="09">September</option>
                      <option value="10">October</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                    <label class="control-label"><b>Year:</b></label>
                    <select class="form-control" ng-model = "year">
                      <option value="2015">2015</option>
                      <option value="2016">2016</option>
                      <option value="2017">2017</option>
                      <option value="2018">2018</option>
                      <option value="2019">2019</option>
                      <option value="2020">2020</option>
                      <option value="2021">2021</option>
                      <option value="2022">2022</option>
                      <option value="2023">2023</option>
                      <option value="2024">2024</option>
                      <option value="2025">2025</option>
                      <option value="2026">2026</option>
                      <option value="2027">2027</option>
                      <option value="2028">2028</option>
                      <option value="2029">2029</option>
                      <option value="2030">2030</option>
                    </select>
                    <button class="btn btn-info generate" ng-click="search()">Generate</button>
                    <button class="btn btn-success pull-right hidetoprint" onclick="prints()">Print</button>
                </div>
                </div>
                <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
                </div>
              </div>
              
                <table class="table table-bordered" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      
                      <th style="width: 40%;">Item name</th>
                      <th style="width: 10%;">Quantity</th>
                      <th style="width: 20%;">Date Created</th>
                      <th style="width: 30%;">Total Amount</th>
                    </tr>
                  </thead>
                 <tbody>
                    <tr ng-repeat="data in products">
                      <td>{{data.order_details[$index].products.ProdName}}</td>
                      <td>{{data.order_details[$index].OrDetCount}}</td>
                      <td>{{data.created_at}}</td>
                      <td>{{data.TotAmount | number : 2}}</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td><b></b></td>
                      <td><b></b></td>
                      <td><b>Total:</b></td>
                      <td><b>{{total | number : 2}}</b></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
        <!-- Sticky Footer -->
        <footer class="sticky-footer"  style="background-color:#e6e6e6;;">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Kompra</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="index.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="addQtyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form   ng-submit="addStocks()">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Stock {{action}}</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                      <td>Category: <input type="hidden" ng-model="id" name=""></td>
                      <td>
                          {{category_id}}
                      </td>
                    </tr>
                    <tr>
                      <td>Product Name: </td>
                      <td>{{name}}<input type="hidden" required class="form-control" ng-model="name"></td>
                    </tr>
                    <tr>
                      <td>Product Description:</td>
                      <td>{{desc}}<input type="hidden" required class="form-control" ng-model="desc"></td>
                    </tr>
                    <tr>
                      <td>Product Price:</td>
                      <td>{{price}}<input type="hidden" required class="form-control" ng-model="price"></td>
                    </tr>
                    <tr>
                      <td>Product Current Quantity:</td>
                      <td>{{quantity}}<input type="hidden" required class="form-control" ng-model="quantity"></td>
                    </tr>
                    <tr>
                      <td>Product Measurement:</td>
                      <td>{{measurement}}<input type="hidden" required class="form-control" ng-model="measurement"></td>
                    </tr>
                    <tr>
                      <td>Product Photo:</td>
                      <td>{{photo}}<input type="hidden" required class="form-control" ng-model="photo"></td>
                    </tr>
                    <tr>
                      <td>Quantity to add:</td>
                      <td><input type="number" required class="form-control" ng-model="quantitytoadd"></td>
                    </tr>
                </table>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Logout Modal-->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form   ng-submit="saves()">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                      <td>Category: <input type="hidden" ng-model="id" name=""></td>
                      <td>
                        <select class="form-control" ng-model="category_id">
                          <option ng-repeat="value in category" value="{{value.id}}">{{value.categoryName}}</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>Product Name: </td>
                      <td><input type="text" required class="form-control" ng-model="name"></td>
                    </tr>
                    <tr>
                      <td>Product Description:</td>
                      <td><input type="text" required class="form-control" ng-model="desc"></td>
                    </tr>
                    <tr>
                      <td>Product Price:</td>
                      <td><input type="number" required class="form-control" ng-model="price"></td>
                    </tr>
                    <tr>
                      <td>Product Quantity:</td>
                      <td><input type="number" required class="form-control" ng-model="quantity"></td>
                    </tr>
                    <tr>
                      <td>Product Measurement:</td>
                      <td><input type="text" required class="form-control" ng-model="measurement"></td>
                    </tr>
                    <tr>
                      <td>Product Photo:</td>
                      <td><input type="text" required class="form-control" ng-model="photo"></td>
                    </tr>
                </table>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form   ng-submit="saves()">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">View Product</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-bordered">
                     <tr>
                      <td>Category:</td>
                      <td>{{category_id}}</option>
                      </td>
                    </tr>
                    <tr>
                      <td>Product Name: </td>
                      <td>{{name}}</td>
                    </tr>
                    <tr>
                      <td>Product Description:</td>
                      <td>{{desc}}</td>
                    </tr>
                    <tr>
                      <td>Product Price:</td>
                      <td>{{price}}</td>
                    </tr>
                    <tr>
                      <td>Product Quantity:</td>
                      <td>{{quantity}}</td>
                    </tr>
                    <tr>
                      <td>Product Measurement:</td>
                      <td>{{measurement}}</td>
                    </tr>
                    <tr>
                      <td>Product Photo:</td>
                      <td>{{photo}}</td>
                    </tr>
                </table>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="assets/js/sb-admin.min.js"></script>
    <script src="assets/vendor/datatables/jquery.dataTables.js"></script>
    <script src="assets/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="assets/js/demo/datatables-demo.js"></script>
    <script src="assets/js/angular.js"></script>
  </body>

</html>
<script>
  
  var token = localStorage.getItem("storageName");
  var app = angular.module('productApp',[]);
    app.controller('productCtrl',function($scope, $http){

        $scope.search = function search(){
            $scope.moss = [];
            for (var i = parseInt($scope.month); i <= $scope.to; i++ ) {
                  $scope.moss.push("0"+i);
            }
              if($scope.month == "01"){
                  $scope.finalmonth = "January";
              } else if ($scope.month == "02"){
                $scope.finalmonth = "February";
              } else if ($scope.month == "03"){
                $scope.finalmonth = "March";
              } else if ($scope.month == "04"){
                $scope.finalmonth = "April";
              } else if ($scope.month == "05"){
                $scope.finalmonth = "May";
              } else if ($scope.month == "06"){
                $scope.finalmonth = "June";
              } else if ($scope.month == "07"){
                $scope.finalmonth = "July";
              } else if ($scope.month == "08"){
                $scope.finalmonth = "August";
              } else if ($scope.month == "09"){
                $scope.finalmonth = "September";
              } else if ($scope.month == "10"){
                $scope.finalmonth = "October";
              } else if ($scope.month == "11"){
                $scope.finalmonth = "November";
              } else if ($scope.month == "12"){
                $scope.finalmonth = "December";
              }

              if($scope.to == "01"){
                  $scope.finalmonths = "January";
              } else if ($scope.to == "02"){
                $scope.finalmonths = "February";
              } else if ($scope.to == "03"){
                $scope.finalmonths = "March";
              } else if ($scope.to == "04"){
                $scope.finalmonths = "April";
              } else if ($scope.to == "05"){
                $scope.finalmonths = "May";
              } else if ($scope.to == "06"){
                $scope.finalmonths = "June";
              } else if ($scope.to == "07"){
                $scope.finalmonths = "July";
              } else if ($scope.to == "08"){
                $scope.finalmonths = "August";
              } else if ($scope.to == "09"){
                $scope.finalmonths = "September";
              } else if ($scope.to == "10"){
                $scope.finalmonths = "October";
              } else if ($scope.to == "11"){
                $scope.finalmonths = "November";
              } else if ($scope.to == "12"){
                $scope.finalmonths = "December";
              }
              console.log(token);
              $http({
                method:'GET',
                url:'https://kompra-prod.000webhostapp.com/api/ordermasterlists',
                headers:{
                  'Content-Type':'application/x-www-form-urlencoded',
                  'Accept':'application/json'
                }
            }).then(function(response){

                $scope.products = [];
                $scope.total = 0;
                angular.forEach(response.data.data,function(data,index){
                    if(data.ProdQuantity <= 10){
                        $scope.notif = "! ! !";
                    }
                });
                response.data.data.forEach(function(datas,index){
                    var dates = datas.created_at;
                    var monthjud = dates.substr(5,2);
                    var yearjud = dates.substr(0,4);
                    // for(){}
                    for(var x = 0; x < $scope.moss.length; x++){
                        if(monthjud == $scope.moss[x] && yearjud == $scope.year){
                           $scope.products.push(datas);
                           $scope.total = parseInt($scope.total) + parseInt(datas.TotAmount);
                        }
                    }
                    
                    console.log($scope.products);
                });
            }).catch(function(res){
                alert("Server Error!");
            });

            $http({
                method:'GET',
                url:'https://kompra-prod.000webhostapp.com/api/category',
                headers:{
                  'Content-Type':'application/x-www-form-urlencoded',
                  'Accept':'application/json'
                }
            }).then(function(response){
                

            }).catch(function(res){
                alert("Server Error!");
            });

        }
    });

    function prints() {
      $('.hidetoprint').hide();
      window.print();
    }
</script>
