<!DOCTYPE html>
<html lang="en" ng-app="productApp">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kompra</title>

    <!-- Bootstrap core CSS-->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="../assets/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../assets/css/sb-admin.css" rel="stylesheet">
  </head>

  <body id="page-top" ng-controller="productCtrl">

    <nav class="navbar navbar-expand navbar-dark static-top" style="background-color:#57b846;">

      <a class="navbar-brand mr-1" href="Products.html">Kompra</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
          <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#"></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
              </div>
            </li>
          </ul>
      </form>

      <!-- Navbar -->
      

    </nav>

    <div id="wrapper" style="background-color:#e6e6e6;">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav" style="background-color:#57b846;">
        <li class="nav-item">
          <a class="nav-link" href="../Category.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Product Category</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Products </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../Supplier.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Supplier</span>
          </a>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="../PromoCode.html">
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                  <span>Promo Code </span>
              </a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="../Inventory.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Inventory <b style="color:red;">{{notif}}</b></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../Users.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Manage Account</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../Feedbacks.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Feedback(s)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../Requests.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Item Requests</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../TransactionHistory.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Transaction History</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Reports</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown" style="background-color:#57b846;">
           <a class="dropdown-item" href="../SalesReport.html">Sales Report</a>
           <a class="dropdown-item" href="../InventoryReport.html">Inventory</a>
           <a class="dropdown-item" href="../Purchases.html">Purchase(s)</a>
           <a class="dropdown-item" href="../Receipt.html">Receipt</a>
          </div>
        </li>
      </ul>

      <div id="content-wrapper" style="background-color: white;padding: 20px;margin: 20px;height: auto;">
          <div class="table-responsive" style="padding-bottom :50px">
              <button class="btn btn-success" data-toggle="modal" data-target="#addModal" ng-click="update('')"><b style="font-size: 20px;">+ Add Product</b></button>
           		<h2>Products</h2>
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">

                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">

                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                        <form ng-submit="searchkey()">
                            <div class="row">
                                <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
                                    <input type="text" ng-model = "searchkeyval" class="form-control">
                                </div>
                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                    <button class="btn btn-success">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <br>
                <div style="height: 600px;">
                <table class="table table-bordered" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Product Name</th>
                      <th>Product Description</th>
                      <th>Product Price</th>
                      <th>Product Quantity</th>
                      <th>Product Measurement</th>
                      <th>Product Supplier</th>
                      <th>Product Photo</th>
                      <th>Category</th>
                      <th>Date Created</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                 <tbody>
                    <tr ng-repeat="data in products">
                      <td>{{data.ProdName}}</td>
                      <td>{{data.ProdDesc}}</td>
                      <td>{{data.ProdPrice | number : 2}}</td>
                      <td>
                        <div ng-if="data.ProdQuantity <= 10">
                                <b style="color:red;">{{data.ProdQuantity}}</b> 
                        </div>
                        <div ng-if="data.ProdQuantity >= 11">
                                {{data.ProdQuantity}} 
                        </div>
                      </td>
                      <td>{{data.ProdMeasurement}}</td>
                      <td>{{data.ProdSupplier}}</td>
                      <td><img src="{{data.ProdPhoto}}" style="width: 70%"></td>
                      <td>{{data.category.categoryName}}</td>
                      <td>{{data.created_at}}</td>
                      <td>
                        <button class="btn btn-xs btn-warning" ng-click="update(data.ProdID,'nothing')" data-toggle="modal" data-target="#addModal"><b>Update</b></button>
                        <button class="btn btn-xs btn-info" ng-click="update(data.ProdID,'nothing')" data-toggle="modal" data-target="#viewModal"><b>View</b></button>
                        <div ng-if="data.enabled == 1">
                          <button class="btn btn-xs btn-danger" data-toggle="modal" data-target="#endisModal" ng-click="enabledisable(data.ProdID,'Disable')"><b>Disable</b></button>
                        </div>
                        <div ng-if="data.enabled == 0">
                          <button class="btn btn-xs btn-sucess" data-toggle="modal" data-target="#endisModal" ng-click="enabledisable(data.ProdID,'Enable')"><b>Enable</b></button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
        <!-- Sticky Footer -->
        <footer class="sticky-footer"  style="background-color:#e6e6e6;;">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Kompra</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="../index.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="addQtyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form   ng-submit="addStocks()">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Stock {{action}}</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                      <td>Category: <input type="hidden" ng-model="id" name=""></td>
                      <td>
                          {{category_id}}
                      </td>
                    </tr>
                    <tr>
                      <td>Product Name: </td>
                      <td>{{name}}<input type="hidden" required class="form-control" ng-model="name"></td>
                    </tr>
                    <tr>
                      <td>Product Description:</td>
                      <td>{{desc}}<input type="hidden" required class="form-control" ng-model="desc"></td>
                    </tr>
                    <tr>
                      <td>Product Price:</td>
                      <td>{{price}}<input type="hidden" required class="form-control" ng-model="price"></td>
                    </tr>
                    <tr>
                      <td>Product Current Quantity:</td>
                      <td>{{quantity}}<input type="hidden" required class="form-control" ng-model="quantity"></td>
                    </tr>
                    <tr>
                      <td>Product Measurement:</td>
                      <td>{{measurement}}<input type="hidden" required class="form-control" ng-model="measurement"></td>
                    </tr>
                    <tr>
                      <td>Product Photo:</td>
                      <td>{{photo}}<input type="hidden" required class="form-control" ng-model="photo"></td>
                    </tr>
                    <tr>
                      <td>Quantity to add:</td>
                      <td><input type="number" required class="form-control" ng-model="quantitytoadd"></td>
                    </tr>
                </table>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Logout Modal-->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form   ng-submit="saves()">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                      <td>Category: <input type="hidden" ng-model="id" name=""></td>
                      <td>
                        <select class="form-control" ng-model="category_id">
                          <option ng-repeat="value in category" value="{{value.id}}">{{value.categoryName}}</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>Product Name: </td>
                      <td><input type="text" required class="form-control" ng-model="name"></td>
                    </tr>
                    <tr>
                      <td>Product Description:</td>
                      <td><input type="text" required class="form-control" ng-model="desc"></td>
                    </tr>
                    <tr>
                      <td>Product Price:</td>
                      <td><input type="number" required class="form-control" ng-model="price"></td>
                    </tr>
                    <tr>
                      <td>Product Quantity:</td>
                      <td><input type="number" required class="form-control" ng-model="quantity"></td>
                    </tr>
                    <tr>
                      <td>Product Measurement:</td>
                      <td><input type="text" required class="form-control" ng-model="measurement"></td>
                    </tr>
                    <tr>
                      <td>Product Supplier:</td>
                      <td>
                        <select class="form-control" ng-model = "supplier" ng-options="opt.supplier_name as opt.supplier_name for opt in promo">
                        </select>
                      </td>
                    </tr>
                    <tr>
                        <td>Product Re-order level:</td>
                        <td><input type="number" required class="form-control" ng-model="ProdReorderLevel"></td>
                    </tr>
                    <tr>
                        <td>Product Expiration Date: </td>
                        <td><input type="date" required class="form-control" ng-model="ProdExpirationDate"></td>
                    </tr>
                    <tr>
                        <td>Product Replenish Date: </td>
                        <td><input type="date" required class="form-control" ng-model="ProdReplenishDate"></td>
                    </tr>
                    <tr>
                        <td>Product Size: </td>
                        <td><input type="text" required class="form-control" ng-model="ProdSize"></td>
                    </tr>
                    <tr>
                        <td>Product Pieces: </td>
                        <td><input type="text" required class="form-control" ng-model="ProdPieces"></td>
                    </tr>
                    <tr>
                      <td>Product Photo:</td>
                      <td><input type="hidden" value="photo" class="form-control" ng-model="photo"><input type="file" class="form-control"></td>
                    </tr>
                </table>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade" id="endisModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form   ng-submit="execEnableDisable()">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure to {{actionsaenabledisable}} Product?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-bordered">
                    <input type="hidden" required class="form-control" ng-model="category_id">
                    <input type="hidden" required class="form-control" ng-model="name">
                    <input type="hidden" required class="form-control" ng-model="desc">
                    <input type="hidden" required class="form-control" ng-model="price">
                    <input type="hidden" required class="form-control" ng-model="quantity">
                    <input type="hidden" required class="form-control" ng-model="measurement">
                    <input type="hidden" required class="form-control" ng-model="photo">
                </table>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="submit">YES</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form   ng-submit="saves()">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">View Product</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-bordered">
                     <tr>
                      <td>Category:</td>
                      <td>{{category_id}}</option>
                      </td>
                    </tr>
                    <tr>
                      <td>Product Name: </td>
                      <td>{{name}}</td>
                    </tr>
                    <tr>
                      <td>Product Description:</td>
                      <td>{{desc}}</td>
                    </tr>
                    <tr>
                      <td>Product Price:</td>
                      <td>{{price}}</td>
                    </tr>
                    <tr>
                      <td>Product Quantity:</td>
                      <td>{{quantity}}</td>
                    </tr>
                    <tr>
                      <td>Product Measurement:</td>
                      <td>{{measurement}}</td>
                    </tr>
                    <tr>
                      <td>Product Supplier:</td>
                      <td>{{supplier}}</td>
                    </tr>
                    <tr>
                        <td>Product Re-order level:</td>
                        <td>{{ProdReorderLevel}}</td>
                    </tr>
                    <tr>
                        <td>Product Expiration Date: </td>
                        <td>{{ProdExpirationDate}}</td>
                    </tr>
                    <tr>
                        <td>Product Replenish Date: </td>
                        <td>{{ProdReplenishDate}}</td>
                    </tr>
                    <tr>
                        <td>Product Size: </td>
                        <td>{{ProdSize}}</td>
                    </tr>
                    <tr>
                        <td>Product Pieces: </td>
                        <td>{{ProdPieces}}</td>
                    </tr>
                    <tr>
                      <td>Product Photo:</td>
                      <td>{{photo}}</td>
                    </tr>
                </table>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../assets/js/sb-admin.min.js"></script>
    <script src="../assets/vendor/datatables/jquery.dataTables.js"></script>
    <script src="../assets/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="../assets/js/demo/datatables-demo.js"></script>
    <script src="../assets/js/angular.js"></script>
  </body>

</html>
<script>
  var token = localStorage.getItem("storageName");
  var app = angular.module('productApp',[]);
    app.controller('productCtrl',function($scope, $http){

        var vm = this;
        searchs();
        function searchs(){
              console.log(token);
              $http({
                method:'GET',
                url:'http://192.168.99.100/api/supplier',
                headers:{
                  'Content-Type':'application/x-www-form-urlencoded',
                  'Accept':'application/json'
                }
            }).then(function(response){
                $scope.promo = response.data.data;
                console.log($scope.promo);
                
            }).catch(function(res){
                alert("Server Error!");
            });

        }
        
        search();
        $scope.searchkey = function searchkey () {
            if ($scope.searchkeyval == "") {
                search();
            } else {
                $http({
                    method:'GET',
                    url:'http://192.168.99.100/api/productssearch?key='+$scope.searchkeyval,
                    headers:{
                      'Content-Type':'application/x-www-form-urlencoded',
                      'Accept':'application/json'
                    }
                }).then(function(response){
                    $scope.products = response.data.data;

                    console.log(response.data.data);
                    angular.forEach(response.data.data,function(data,index){
                        if(data.ProdQuantity <= 10){
                            $scope.notif = "! ! !";
                        }
                    });

                }).catch(function(res){
                    alert("Server Error!");
                });
            }
        }
        $scope.saves = function saves(){
          if($scope.id == ''){
              $http({
              url:'http://192.168.99.100/api/products?ProdName='+$scope.name+'&ProdReorderLevel='+$scope.ProdReorderLevel+'&ProdExpirationDate='+$scope.ProdExpirationDate+'&ProdReplenishDate='+$scope.ProdReplenishDate+'&ProdSize='+$scope.ProdSize+'&ProdPieces='+$scope.ProdPieces+'&ProdDesc='+$scope.desc+'&ProdPrice='+$scope.price+'&ProdQuantity='+$scope.quantity+'&ProdMeasurement='+$scope.measurement+'&ProdSupplier='+$scope.supplier+'&ProdPhoto='+$scope.measurement+'&category_id='+$scope.category_id+'&enabled=1',
              method:'POST',
              headers:{
                'Content-Type':'application/x-www-form-urlencoded',
                'Accept':'application/json'
              }
            }).then(function(res){
              location.reload();
              alert("Successfully Added!");
              console.log(res);
            }).catch(function(res){
              alert("Server Error!");
            });

            $http({
              url:'http://192.168.99.100/api/stocks?ProdID='+$scope.name+'&StockPrice='+$scope.price+'&StockQuantity='+$scope.quantity+'&StockSupplier='+$scope.supplier,
              method:'POST',
              headers:{
                'Content-Type':'application/x-www-form-urlencoded',
                'Accept':'application/json'
              }
            }).then(function(res){
/*
              location.reload();
              alert("Successfully Added!");*/
              console.log(res);
            }).catch(function(res){
              alert("Server Error!");
            });
          } else {
            $http({
              url:'http://192.168.99.100/api/products/'+$scope.id+'?ProdName='+$scope.name+'&ProdReorderLevel='+$scope.ProdReorderLevel+'&ProdExpirationDate='+$scope.ProdExpirationDate+'&ProdReplenishDate='+$scope.ProdReplenishDate+'&ProdSize='+$scope.ProdSize+'&ProdPieces='+$scope.ProdPieces+'&ProdDesc='+$scope.desc+'&ProdPrice='+$scope.price+'&ProdQuantity='+$scope.quantity+'&ProdMeasurement='+$scope.measurement+'&ProdSupplier='+$scope.supplier+'&ProdPhoto='+$scope.photo+'&category_id='+$scope.category_id+'&enabled=1',
              method:'POST',
              headers:{
                'Content-Type':'application/x-www-form-urlencoded',
                'Accept':'application/json'
              }
            }).then(function(res){
              location.reload();
              alert("Successfully Updated!");
            }).catch(function(res){
              alert("Server Error!");
            });
          }
            
        }

        function stockInOut(newQuantity){
          $http({
              url:'http://192.168.99.100/api/products/'+$scope.id+'?ProdName='+$scope.name+'&ProdReorderLevel='+$scope.ProdReorderLevel+'&ProdExpirationDate='+$scope.ProdExpirationDate+'&ProdReplenishDate='+$scope.ProdReplenishDate+'&ProdSize='+$scope.ProdSize+'&ProdPieces='+$scope.ProdPieces+'&ProdDesc='+$scope.desc+'&ProdPrice='+$scope.price+'&ProdQuantity='+newQuantity+'&ProdMeasurement='+$scope.measurement+'&ProdSupplier='+$scope.supplier+'&ProdPhoto='+$scope.photo+'&category_id='+$scope.category_id+'&enabled=1',
              method:'POST',
              headers:{
                'Content-Type':'application/x-www-form-urlencoded',
                'Accept':'application/json'
              }
            }).then(function(res){
              location.reload();
            }).catch(function(res){
              alert("Server Error!");
            });
        }

        $scope.addStocks = function addStocks(){
          var newQuantity = 0;
          if($scope.action == 'In'){
            if($scope.quantitytoadd <= 0){
              alert("Quantity must not be 0 or below.");
            }
            else {
              newQuantity = $scope.quantitytoadd + $scope.quantity;
              stockInOut(newQuantity);
              alert("Successfully Stocked In!");
            }
            
          } else {
            if($scope.quantity < $scope.quantitytoadd){
              alert("Insuficient stock(s), You have "+$scope.quantity+" '"+$scope.name+"' left.");
            } else if($scope.quantitytoadd <= 0){
              alert("Quantity must not be 0 or below.");
            } else {
              newQuantity = $scope.quantity - $scope.quantitytoadd;
              stockInOut(newQuantity);
              alert("Successfully Stocked Out!");
            }
            
          }
          
        }

        $scope.update = function update(id,action){
            $scope.action = action;
            $scope.id = id;
            $http({
                method:'GET',
                url:'http://192.168.99.100/api/products/'+id,
                headers:{
                  'Content-Type':'application/x-www-form-urlencoded',
                  'Accept':'application/json'
                }
            }).then(function(response){
               $scope.name = response.data.data.ProdName;
               $scope.desc = response.data.data.ProdDesc;
               $scope.price = response.data.data.ProdPrice;
               $scope.quantity = response.data.data.ProdQuantity;
               $scope.measurement = response.data.data.ProdMeasurement;
               $scope.photo = response.data.data.ProdPhoto;
               $scope.photo = response.data.data.ProdPhoto;
               $scope.supplier = response.data.data.ProdSupplier;
               $scope.ProdReorderLevel = response.data.data.ProdReorderLevel;
               $scope.ProdExpirationDate = response.data.data.ProdExpirationDate;
               $scope.ProdReplenishDate = response.data.data.ProdReplenishDate;
               $scope.ProdSize = response.data.data.ProdSize;
               $scope.ProdPieces = response.data.data.ProdPieces;
               $scope.category_id = response.data.data.category_id;
            }).catch(function(res){
                alert("Server Error!");
            });
        }

        function search(){
              console.log(token);
              $http({
                method:'GET',
                url:'http://192.168.99.100/api/products',
                headers:{
                  'Content-Type':'application/x-www-form-urlencoded',
                  'Accept':'application/json'
                }
            }).then(function(response){
                $scope.products = response.data.data;
                angular.forEach(response.data.data,function(data,index){
                    if(data.ProdQuantity <= 10){
                        $scope.notif = "! ! !";
                    }
                });

            }).catch(function(res){
                alert("Server Error!");
            });

            $http({
                method:'GET',
                url:'http://192.168.99.100/api/category',
                headers:{
                  'Content-Type':'application/x-www-form-urlencoded',
                  'Accept':'application/json'
                }
            }).then(function(response){
                $scope.category = response.data.data;
            }).catch(function(res){
                alert("Server Error!");
            });
            
        }
            $scope.enabledisable = function enabledisable(id, action){
              $scope.actionsaenabledisable = action;
              $scope.id = id;
              $http({
                  method:'GET',
                  url:'http://192.168.99.100/api/products/'+id,
                  headers:{
                    'Content-Type':'application/x-www-form-urlencoded',
                    'Accept':'application/json'
                  }
              }).then(function(response){
                 $scope.name = response.data.data.ProdName;
                 $scope.desc = response.data.data.ProdDesc;
                 $scope.price = response.data.data.ProdPrice;
                 $scope.quantity = response.data.data.ProdQuantity;
                 $scope.measurement = response.data.data.ProdMeasurement;
                 $scope.photo = response.data.data.ProdPhoto;
                 $scope.photo = response.data.data.ProdPhoto;
                 $scope.supplier = response.data.data.ProdSupplier;
                 $scope.ProdReorderLevel = response.data.data.ProdReorderLevel;
               $scope.ProdExpirationDate = response.data.data.ProdExpirationDate;
               $scope.ProdReplenishDate = response.data.data.ProdReplenishDate;
               $scope.ProdSize = response.data.data.ProdSize;
               $scope.ProdPieces = response.data.data.ProdPieces;
                 $scope.category_id = response.data.data.category_id;
              }).catch(function(res){
                  alert("Server Error!");
              });
            }

            $scope.execEnableDisable = function execEnableDisable(){
            if($scope.actionsaenabledisable === 'Enable'){
              $scope.endisableactions = '1';
            } else {
              $scope.endisableactions = '0';
            }
            $http({
              url:'http://192.168.99.100/api/products/'+$scope.id+'?ProdName='+$scope.name+'&ProdReorderLevel='+$scope.ProdReorderLevel+'&ProdExpirationDate='+$scope.ProdExpirationDate+'&ProdReplenishDate='+$scope.ProdReplenishDate+'&ProdSize='+$scope.ProdSize+'&ProdPieces='+$scope.ProdPieces+'&ProdDesc='+$scope.desc+'&ProdPrice='+$scope.price+'&ProdQuantity='+$scope.quantity+'&ProdMeasurement='+$scope.measurement+'&ProdSupplier='+$scope.supplier+'&ProdPhoto='+$scope.photo+'&category_id='+$scope.category_id+'&enabled='+$scope.endisableactions,
              method:'POST',
              headers:{
                'Content-Type':'application/x-www-form-urlencoded',
                'Accept':'application/json'
              }
            }).then(function(res){
              if($scope.actionsaenabledisable === 'Enable'){
                alert("Successfully Enabled!");
              } else {
                alert("Successfully Disabled!");
              }
              location.reload();
            }).catch(function(res){
              alert("Server Error!");
            });
          } 
    });
</script>
